@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
html {
	background-color: rgb(253 230 138);
	font-family: 'Ubuntu', sans-serif;
}
h2{
	background:linear-gradient(-120deg, #f50581 0%, #f81337 100%);
}
#page-content {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding-left:20vw;
	padding-right:20vw;
}
#page-title {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
}
#profile-image {
	border-radius:64px;
	box-shadow:2px 2px 2px 2px rgb(245 158 11);
}
p {
	text-align:justify;
}
